<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
</head>
<body data-bs-theme="dark">
    <%- include('./partials/nav') %> 
    <div class="container mt-3">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="coverImage" class="form-label" 
                style="font-size: 25px; color:rgb(0, 110, 255)">Cover Image</label>
                <input
                    type="file"
                    class="form-control"
                    id="coverImage"
                    name="coverImage"
                    aria-describedby="coverImage"
                    />
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    aria-describedby="title"
                />
            </div>
            <div class="mb-3">
            <label for="floatingTextarea">Body</label>  
            <textarea class="form-control"
            id="floatingTextarea" name="body" rows="15"></textarea> 
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <%- include('./partials/script') %>
</body>
</html>