<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Signup</title>
</head>
<body class="bg-image" 
style="background-image: url('/7639.jpg'); background-size: cover; background-position: center;">
    <%- include('./partials/nav') %>

    <div class="container mt-4 w-25 responsive-div">
      <h1 class="mb-2 p-1 text-primary text-start custom-blur rounded"> Blogify : A Blog App</h1>
        <form action="/user/signup" method="post" class="custom-blur p-3 rounded">
            <div class="mb-3" style="font-size: 20px;">
                <label for="fullName" class="form-label custom-input">Full Name</label>
                <input 
                type="text" 
                class="form-control" 
                id="fullName" 
                name="fullName" 
                aria-describedby="fullName"
                placeholder="Enter Your Full Name">
              </div>
            <div class="mb-3" style="font-size: 20px;">
              <label for="exampleInputEmail1" class="form-label custom-input">Email address</label>
              <input 
              type="email" 
              class="form-control" 
              id="exampleInputEmail1" 
              name="email" 
              ria-describedby="emailHelp"
              placeholder="Enter Your Email">
            <div class="mb-3" style="font-size: 20px;">
              <label for="exampleInputPassword1" class="form-label custom-input">Password</label>
              <input 
              type="password" 
              class="form-control" 
              name="password" 
              id="exampleInputPassword1"
              placeholder="Enter Your Password">
            </div>
            <div class="d-flex justify-content-center mt-auto">
            <button type="submit" class="btn btn-primary" style="font-size: 20px;">Submit</button>
            </div>
          </form>
    </div>

    <%- include('./partials/script') %>
</body>
</html>