<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>SignIn</title>
</head>
<body data-bs-theme="dark" class="text-white">
    <%- include('./partials/nav') %>

    <div class="container mt-4">
      <h1 class="mb-4 text-primary text-start"> Blogify : A Blog App</h1>
        <form action="/user/signin" method="post">
            <div class="mb-3" style="font-size: 20px;">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input 
              type="email" 
              class="form-control" 
              id="exampleInputEmail1" 
              name="email" 
              aria-describedby="emailHelp"
              placeholder="Enter your email">
              
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3" style="font-size: 20px;">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input 
              type="password" 
              class="form-control" 
              name="password" 
              id="exampleInputPassword1"
              placeholder="Enter your password">
            </div>
            
            <button type="submit" class="btn btn-primary" style="font-size: 20px;">Submit</button>
          </form>
    </div>

    <%- include('./partials/script') %>
</body>
</html>